nav{
    height: 70px;
    background-color: dodgerblue;
}
.navmenu{
    display: flex;
    width: 50%;
    
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.list-a{
    color: white;
    font-size: 17px;
}
@media(max-width: 768px){
     .line{
         width: 30px;
         height: 3px;
         background-color: aqua;
         margin: 5px;

     }
     nav{
         position: relative;
     }
     .burger{
         position: absolute;
         cursor: pointer;
         right: 5%;
         top: 50%;
         transform: translate(-5%, -50%);
     }

    .navmenu{
        position: fixed;
        background-color: darkviolet;
        height: 100%;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-lip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
    }
    .navmenu.active{
        clip-path: circle(1000px at 90% -10%);
        -webkit-lip-path: circle(1000px at 90% -10%);
    }
    .burger.active.line:nth-child(2){
        opacity: 0;
    }
    .burger.active.line:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    .burger.active.line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }


}